.shadow{
  display: none;
  color: #FFFFFF;
}

.section-head{
  list-style: none;
  color: #FFFFFF;
}

.style{
  display: none;
  color: #FFFFFF;
}

li{
  list-style-type: none;
  color: #FFFFFF;
}



.logo{
  
  text-decoration: none;
  list-style-type: none;
padding: 4,6;
margin-left: 215px;
margin-top: 24px;

font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
color: #212121;



}

.Web-1{
  color: #2196F3;
}

.studio{
  
  text-decoration: none;
  list-style-type: none;
padding: 2,8;
margin-left: 453px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;




letter-spacing: 0.02em;
color: #212121;
font-family: 'Roboto', sans-serif;
}



.studio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.studio_title{
  
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  
  
  
}

.portfolio{
  
  text-decoration: none;
  list-style-type: none;
padding: 4,5;
margin-left: 548px;




font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
font-family: 'Roboto', sans-serif;
}

.portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  
  
}

.contackts{
  
  text-decoration: none;
  list-style-type: none;
padding: 4;
margin-left: 670px;




font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
font-family: 'Roboto', sans-serif;
}

.Contacts:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.Contacts_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  
  
}

.mail{
  
  text-decoration: none;
  list-style-type: none;
padding: 8,4;
margin-left: 1078px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto', sans-serif;
}

.Mail:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.Mail_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
 
  
}

.telefon{
  
  text-decoration: none;
  list-style-type: none;
padding: 7,6;
margin-left: 1263px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto', sans-serif;
}

.Telefon:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.Telefon_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  
  
}

.section-head{
  
padding: 2,6;


background: #2F303A;
}

.Efectivni{
  
padding: 5,8;
margin-left: 452px;
margin-right: 452px;




font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}

.butoon-bye{
  
padding: 4,3;

border-width: 50px;

margin-left: 692px;
margin-right: 69;


background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: black;
font-family: 'Roboto', sans-serif;
font-size: 16px;

border-style: none;
}

.Yvaga{
  
padding: 16,8;

margin-left: 215px;
margin-right: 1115px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.Yvaga-text{
  
padding: 3,7;

margin-left: 215px;
margin-right: 1115px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.Punktualnist{
  
padding: 16,8;

margin-left: 515px;
margin-right: 815px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
font-family: 'Roboto', sans-serif;

}

.Punktualnist-text{
  
padding: 5,6;

margin-left: 515px;
margin-right: 815px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.Planyvania{
  
padding: 16,8;

margin-left: 815px;
margin-right: 515px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;


}

.Planyvania-text{
  
padding: 5,6;

margin-left: 815px;
margin-right: 515px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.Suchasne{
  
padding: 16,8;

margin-left: 1115px;
margin-right: 215px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.Suchasne-text{
  
  padding: 3,7;
 
  margin-left: 1115px;
margin-right: 215px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

.Chim-mi-zaymaemsya{
  
padding: 8,7;

margin-left: 615px;
margin-right: 615px;

font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
font-family: 'Roboto', sans-serif;

}

.Noutbuck{
  
padding: 1,2;
margin-left: 215px;
font-family: 'Roboto', sans-serif;
}

.Tablet{
  
padding: 1,2;
margin-left: 615px;
font-family: 'Roboto', sans-serif;
}

.Photo-Tablet{
  
  padding: 1,2;
margin-left: 1015px;
font-family: 'Roboto', sans-serif;
}



.Nasha-Comanda{
  
padding: 6,2;

margin-left: 615px;
margin-right: 615px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
font-family: 'Roboto', sans-serif;
}



.logo-footer-studio{
 
padding: 4,6;
margin-left: 215px;

margin-left: 215px;
margin-right: 1240px;

font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;

/* identical to box height */

letter-spacing: 0.03em;




text-decoration: none;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;

}

.mail-telefon{
  
padding: 11;

margin-left: 215px;
margin-right: 1154px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

text-decoration: none;

list-style-type: none;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}

.images-igor{
  
padding: 1,03;
margin-left: 215px;

}

.igor-demyanko{
  
padding: 6,7;

margin-left: 286px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-igor{
  
padding: 4,3;
margin-left: 285px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-olyga{
  
padding: 1,03;
margin-left: 515px;

}

.olyga-repina{
  
padding: 5,4;
margin-left: 598px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;

}

.text-repina{
  
padding: 7,7;
margin-left: 577px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-mikola{
  
padding: 1,03;
margin-left: 815px;

}

.mikola-tarasov{
  
padding: 6,8;

margin-left: 815px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-mikola{
  
padding: 4;

margin-left: 885px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-mihaylo{
  
padding: 1,03;
margin-left: 1115px;

}

.mihaylo-yermakov{
  
padding: 7,6;
margin-left: 1178px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-mihaylo{
  
padding: 4,5;
margin-left: 1207px;



font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;

}

.Web-2{
  color: #2196F3;
}

.footer{
  
  padding: 6,3;


background: #2F303A;
}

.logo-portfolio{
  
padding: 4,6;
margin-left: 215px;


font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
text-decoration: 0;
color: #000000;





}

.Web-1{
color: #2196F3;
}



li{
list-style-type: none;
}



.section-head{
  list-style: none
}



.logo-portfolio{
  font-family: 'Raleway', sans-serif;
font-weight: 700;
text-decoration: 0;
}

.studio-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
}

.Pprtfolio-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
}

.contacts-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
}

.mail-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
}

.telefon-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
}


.studio-portfolio:current{
  
padding: 2,8;
margin-left: 453px;

background-color: #2196F3;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

text-decoration: 0;
}

.studio-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.studio-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  
  
}

.portfolio-portfolio:current{
  
padding: 4,5;
margin-left: 548px;

background-color: #2196F3;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.portfolio-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.portfolio-portfolio_title{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  top: 100px;
  
}

.contacts-portfolio:current{
  
padding: 4;
margin-left: 670px;
background-color: #2196F3;



font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.contacts-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.contacts-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  
  
}

.mail-portfolio{
  
padding: 8,4;
margin-left: 1078px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.mail-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.mail-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  
  
}

.telefon-portfolio{
  
padding: 16;
margin-left: 1263px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.telefon-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: #2196F3;
  text-align: center;
  font-size: 14px;
  
}

.telefon-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  
  
}

.ysi{
transition-duration: 500ms;
margin-left: 512px;

background: 
#F5F4FA;
/* shadow-middle */

border-radius: 4px;


/* Все */



padding: 2,9;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #000000;
border: 0;
text-decoration: 0;




}

.ysi:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.veb-sayt{
  
  transition-duration: 500ms;
  
  background: #F5F4FA;
  border-radius: 4px;
  margin-left: 593px;
  
  
  /* Веб-сайти */
  
  
  
  padding: 3,2;
  
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.veb-sayt:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.dodatki{
  
  transition-duration: 500ms;
  
  background: #F5F4FA;
  border-radius: 4px;
margin-left: 726px;
  
  
  /* Додатки */
  
  
  
  padding: 2,9;
 
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.dodatki:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.disayn{
  
transition-duration: 500ms;

background: #F5F4FA;
border-radius: 4px;
margin-left: 846px;


/* Дизайн */



padding: 2,7;
left: 846px;
top: 174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.disayn:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.marketing{
  
transition-duration: 500ms;

background: #F5F4FA;
border-radius: 4px;
margin-left: 957px;


/* Маркетинг */



padding: 3,4;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.marketing:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.images1{
  
padding: 1,2;
margin-left: 215PX;

}

.images-b1{
  
padding: 8,9;
margin-left: 239px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}

.b1{
  
padding: 10,7;
margin-left: 239px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images2{
  
padding: 1,2;
margin-left: 615px;

}

.images-b2{
  
padding: 8,9;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b2{
 
padding: 10,7;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images3{
 
padding: 1,2;
margin-left: 1015px;

}

.images-b3{
  
padding: 8,9;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b3{
  
padding: 10,7;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;

color: #757575;
}

.images4{
  
padding: 1,2;
margin-left: 215px;

}

.images-b4{
  
padding: 8,9;
margin-left: 239px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b4{
  
padding: 10,7;
margin-left: 239px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images5{
  
padding: 1,2;
margin-left: 615px;

}

.images-b5{
  
padding: 8,9;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b5{
  
padding: 10,7;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;

}

.images6{
  
margin-top: 1,2;
margin-left: 1015px;

}

.images-b6{
  
padding: 8,9;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b6{
  
padding: 10,7;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images7{
  
padding: 1,2;
margin-left: 215px;

}

.images-b7{
  
padding: 8,7;
margin-left: 239px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;
}

.b7{
  
padding: 10,7;
margin-left: 239px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images8{
  
padding: 1,2;
margin-left: 615px;

}

.images-b8{
  
padding: 8,7;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;

}

.b8{
   
padding: 10,7;
margin-left: 639px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images9{
  
padding: 1,2;
margin-left: 1015px;

}

.images-b9{
  
padding: 8,7;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
font-family: 'Roboto', sans-serif;

}

.b9{
 
padding: 10,7;
margin-left: 1039px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.logo-footer-portfolio{
  
padding: 6,3;
margin-left: 215px;


font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

text-decoration: 0;

color: #FFFFFF;
background: #2F303A;
}

.web-2{
  color: #2196F3;
}

.mail-telefon-portfolio{
  
  padding: 11;
  margin-left: 215px;
 
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;

  text-decoration: 0;
  
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.mail-footer-portfolio{
  
  padding: 11;
  margin-left: 215px;
  

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-decoration: 0;
text-decoration: none;
list-style-type: 0px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto', sans-serif;
}

.tel-footer-portfolio{

text-decoration: none;
text-decoration: 0px;

  
padding: 11;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */



letter-spacing: 0.03em;



color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto', sans-serif;
}

.footer-portfolio{
  
  padding: 6,3;


background: #2F303A;
}

.butoon-bye:hover{
  background-color: #2196F3;
  transition-duration: 500ms;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

}

.section-body-portfolio{
  opacity: 0;
}