.shadow{
  
  color: var(--main-color);
  opacity: 0px;

}

.section-head{

  color: var(--main-color);
  opacity: 0px;

}

.style{
  
  color: var(--main-color);
  opacity: 0px;
  
}

li{

color: var(--main-color);
  opacity: 0px;
  
}

:root{
--main-color: #212121;
--secondary-color: #2196F3;
}





.Studio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
top: 32px;
}

.Portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
top: 32px;
}

.Contacts{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
top: 32px;
}

.Mail{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
top: 32px;
}

.Telefon{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
top: 32px;
}



.logo{
  
  text-decoration: none;
  list-style-type: none;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1,1;
/* identical to box height */

letter-spacing: 0.03em;
color: var(--main-color);

margin-left: 215px;
margin-top: 24px;

}

.Web-1{
color: var(--main-color);
}

.Studio{
  
  text-decoration: none;
  list-style-type: none;

font-style: normal;
font-weight: 500;
font-size: 14px;

letter-spacing: 0.02em;
color: var(--main-color);
font-family: 'Roboto', sans-serif;

margin-left: 453px;
margin-top: 32px;
}



.Studio:hover{
  
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);

  
}

.Studio_title{
  
  font-family: 'Roboto', sans-serif;
  color: var(--main-color #212121);
  
  
  
}

.Portfolio{
  
  text-decoration: none;
  list-style-type: none;
padding: 4,5;

color: var(--secondary-color);

font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--main-color);
font-family: 'Roboto', sans-serif;

margin-left: 548px;
margin-top: 32px;
}

.Portfolio:hover{

  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  
}



.Contacts{
  
  text-decoration: none;
  list-style-type: none;
padding: 4;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: var(--main-color #212121);
font-family: 'Roboto', sans-serif;

margin-left: 670px;
margin-top: 32px;
}

.Contacts:hover{

  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  
}


.Mail{
  
  text-decoration: none;
  list-style-type: none;
padding: 8,4;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto', sans-serif;

margin-left: 1078px;
margin-top: 32px;
}

.Mail:hover{

  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  
}


.Telefon{
  
  text-decoration: none;
  list-style-type: none;
padding: 7,6;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
font-family: 'Roboto', sans-serif;

margin-left: 1263px;
margin-top: 32px;
}

.Telefon:hover{

  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  
}


.section-head{
  padding: 2px,6px;
margin-left: 0px;
margin-top: 80px;

background: #2F303A;
}

.Efectivni{
  
padding: 5px,8px;

font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
font-family: 'Roboto', sans-serif;

margin-left: 452px;
margin-top: 180px;
}

.butoon-bye{
  
padding: 4,3;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--main-color);
font-family: 'Roboto', sans-serif;
font-size: 16px;

border-style: none;

margin-left: 692px;
margin-top: -1280px;
}

.Yvaga{
  
  
  margin-left: 215px;
  margin-top: 774px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.Yvaga-text{
  
 margin-left: 215px;
  margin-top: 800px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.Punktualnist{
  
  
  margin-left: 515px;
  margin-top: 774px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
font-family: 'Roboto', sans-serif;

}

.Punktualnist-text{
  
  
  margin-left: 515px;
  margin-top: 800px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.Planyvania{
  

margin-left: 815px;
margin-top: 774px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);


}

.Planyvania-text{
  
margin-left: 815px;
margin-top: 800px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.Suchasne{
  
  margin-left: 1115px;
  margin-top: 774px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.Suchasne-text{
  
  margin-left: 1115px;
  margin-top: 800px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

.Chim-mi-zaymaemsya{
  
  margin-left: 617px;
  margin-top: 966px;

font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;

}

.Noutbuck{
  
  margin-left: 215px;
  margin-top: 1058px;
font-family: 'Roboto', sans-serif;
}

.Tablet{
  
  margin-left: 615px;
  margin-top: 1058px;
font-family: 'Roboto', sans-serif;
}

.Photo-Tablet{
  
margin-left: 1015px;
margin-top: 1058px;
font-family: 'Roboto', sans-serif;
}



.Nasha-Comanda{
  
  margin-left: 668px;
  margin-top: 1540px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}


.logo-footer-studio{
 
  margin-left: 215px;
  margin-top: 0px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;

/* identical to box height */

letter-spacing: 0.03em;




text-decoration: none;
color: #FFFFFF;


}

.mail-footer{
  
  margin-left: 215px;
  margin-top: 2205px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

text-decoration: none;



list-style-type: none;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}

.images-igor{
  
  margin-left: 215px;
  margin-top: 1632px;

}

.igor-demyanko{
  
  margin-left: 286px;
  margin-top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-igor{
  
  margin-left: 285px;
  margin-top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-olyga{
  
  margin-left: 515px;
  margin-top: 1632px;

}

.olyga-repina{
  
  margin-left: 598px;
  margin-top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;

}

.text-repina{
  
  margin-left: 577px;
  margin-top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-mikola{
  
  margin-left: 815px;
  margin-top: 1632px;

}

.mikola-tarasov{
  
  margin-left: 885px;
  margin-top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-mikola{
  
  margin-left: 912px;
  margin-top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images-mihaylo{
  
  margin-left: 1115px;
  margin-top: 1632px;

}

.mihaylo-yermakov{
  
  margin-left: 1178px;
  margin-top: 1922px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;
}

.text-mihaylo{
  
  margin-left: 1207px;
  margin-top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;

}

.Web-2{
color: var(--secondary-color);
}

.footer{
  
  margin-left: 0px;
  margin-top: 2094px;

background: var(--main-color);
}

.logo-portfolio{
  
  margin-left: 215px;
  margin-top: 24px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
text-decoration: 0;
color: var(--main-color);

}

.Web-1{
color: var(--secondary-color);
}



li{
list-style-type: none;
}



.section-head{
  list-style: none
}



.logo-portfolio{
  font-family: 'Raleway', sans-serif;
font-weight: 700;
text-decoration: 0;
color: var(--main-color);
}

.studio-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
}

.portfolio-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
}

.contacts-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
}

.mail-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
}

.telefon-portfolio{
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: 0;
color: var(--main-color);
}


.studio-portfolio:current{
  
  margin-left: 453px;
  margin-top: 32px;

color: var(--main-color);


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.02em;

color: var(--main-color);

text-decoration: 0;
}

.studio-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  
}

.studio-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  bottom: 15px ;
  
  
}

.portfolio-portfolio:current{
  
  margin-left: 548px;
  margin-top: 32px;

background-color: var(--secondary-color);

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
letter-spacing: 0.02em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.portfolio-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  
  font-size: 14px;
  
}

.portfolio-portfolio_title{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  top: 100px;
  
}

.contacts-portfolio:current{
  
  margin-left: 670px;
  margin-top: 32px;

background-color: var(--secondary-color);

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.contacts-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  
}

.contacts-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  
  
}

.mail-portfolio{
  
  margin-left: 1078px;
  margin-top: 32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
font-family: 'Roboto', sans-serif;
text-decoration: 0;

}

.mail-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  
}

.mail-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  
  
}

.telefon-portfolio{
  
  margin-left: 1263px;
  margin-top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
font-family: 'Roboto', sans-serif;
text-decoration: 0;
}

.telefon-portfolio:hover{
  opacity: 1;
  transition-duration: 900ms;
  box-shadow: 15px black;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  
}

.telefon-portfolio_title{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  bottom: 15px ;
  
  
}

.ysi{
transition-duration: 500ms;

background: 
#F5F4FA;
/* shadow-middle */

border-radius: 4px;

/* Все */

margin-left: 512px;
margin-top: 174px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
border: 0;
text-decoration: 0;

}

.ysi:hover{
  background-color: var(--secondary-color);
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.veb-sayt{
  
  transition-duration: 500ms;
  
  background: #F5F4FA;
  border-radius: 4px;
  
  /* Веб-сайти */
  
  margin-left: 615px;
  margin-top: 180px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--main-color);
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.veb-sayt:hover{
  background-color: var(--secondary-color);
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.dodatki{
  
  transition-duration: 500ms;
  
  background: #F5F4FA;
  border-radius: 4px;
  
  /* Додатки */
  
margin-left: 726px;
margin-top: 174px;
 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--main-color);
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.dodatki:hover{
  background-color: var(--secondary-color);
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.disayn{
  
transition-duration: 500ms;

background: #F5F4FA;
border-radius: 4px;

/* Дизайн */

margin-left: 846px;
margin-top: 174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.disayn:hover{
  background-color: var(--secondary-color);
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.marketing{
  
transition-duration: 500ms;

background: #F5F4FA;
border-radius: 4px;

/* Маркетинг */

margin-left: 957px;
margin-top: 174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);
border: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: 0;
}

.marketing:hover{
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.images1{
  
  margin-left: 215px;
  margin-top: 262px;

}

.images-b1{
  
  margin-left: 239px;
  margin-top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
}

.b1{
  
  margin-left: 239px;
  margin-top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images2{
  
  margin-left: 615px;
  margin-top: 262px;

}

.images-b2{

  margin-left: 639px;
  margin-top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b2{

  margin-left: 639px;
  margin-top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images3{
 
  margin-left: 1015px;
  margin-top: 262px;

}

.images-b3{
  
  margin-left: 1039px;
  margin-top: 576px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b3{
  
  margin-left: 1039px;
  margin-top: 616px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;
font-family: 'Roboto', sans-serif;

color: #757575;
}

.images4{
  

  margin-left: 215px;
  margin-top: 696px;

}

.images-b4{
  
  margin-left: 239px;
  margin-top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b4{
  
  
  margin-left: 239px;
  margin-top: 1050px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images5{
  
  margin-left: 615px;
  margin-top: 696px;

}

.images-b5{
  
  margin-left: 639px;
  margin-top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b5{

  margin-left: 639px;
  margin-top: 1050px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;

}

.images6{

  margin-left: 1015px;
  margin-top: 696px;

}

.images-b6{

  margin-left: 1039px;
  margin-top: 1010px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b6{

  margin-left: 1039px;
  margin-top: 1050px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images7{
  
  margin-left: 215px;
  margin-top: 1130px;

}

.images-b7{

  margin-left: 239px;
  margin-top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;
}

.b7{
  
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images8{
  
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1130px;

}

.images-b8{
  
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;

}

.b8{
   
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.images9{
  
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;

}

.images-b9{
  
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);
font-family: 'Roboto', sans-serif;

}

.b9{
 
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
font-family: 'Roboto', sans-serif;
}

.logo-footer-portfolio{
  
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

text-decoration: 0;

color: #FFFFFF;
background: var(--main-color);
}

.web-2{
  color: var(--secondary-color);
}

.mail-telefon-portfolio{
  
  position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1739px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;

  text-decoration: 0;
  
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.mail-footer-portfolio{
  
  position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1769px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-decoration: 0;
text-decoration: none;
list-style-type: 0px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto', sans-serif;
}

.tel-footer-portfolio{

text-decoration: none;
text-decoration: 0px;

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1799px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */



letter-spacing: 0.03em;



color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto', sans-serif;
}

.footer-portfolio{

  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

background: var(--main-color);
}

.butoon-bye:hover{
  background-color: var(--secondary-color);
  transition-duration: 500ms;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

a:root{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

}

.section-body-portfolio:root{
  opacity: 0;
  color: #F5F4FA;
}

a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.Navigetion{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.Navigation-portfolio{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}






